.nav-item{
    margin: 35px !important;
}
.nav-link:hover{
    color: #C5DCA0 !important;
    
}
.navbar{
    vertical-align: middle !important;
    margin-bottom: 100px;
}
.btnregister {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 3px solid #a8b188;
    border-radius: 8px;
    background: none;
    font: normal normal bold 18px georgia;
    color: #b5cc91;
    text-decoration: none;
}

.tweet1{
    margin-left: 10%;
    margin-bottom: 30px;
    background-color: #F9DAD0;
    border: solid  pink;
    display: inline-block;
    padding: 10px 50px 10px 20px;
    width: fit-content;
}
.pfp{
    border-radius: 150px;
    display: inline;
    margin-right: 10px;
}
.usn{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}
.triple{
    display: inline-block;
    vertical-align: top;
    margin-left: 420px;
    font-weight: bolder;
}
.content1{
    padding-left: 60px;
    margin: 0px;
}

form{
    background-color: #f9dad0a7;
    padding: 30px;
    
    margin-bottom: 100px;
    
    margin: auto;
}
.reserve{
    margin-top: 30px;
    margin-bottom: 0px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    background: #C5DCA0;
    font: normal normal bold 20px georgia;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.reserve:hover{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 9.5px 28px;
    border: 3px solid #a8b188;
    border-radius: 100px;
    background: none;
    font: normal normal bold 18px georgia;
    color: #b5cc91;
    text-decoration: none;
}